In [1]:
# Data analysis modules: pandas, matplotlib, numpy, and etc.
%matplotlib inline
%config InlineBackend.figure_format = 'retina' # render double resolution plot output for Retina screens 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Standard modules, MongoDB modules
import os, sys, json, datetime, pickle, multiprocessing, logging
from pprint import pprint

import pymongo
from pymongo import IndexModel, ASCENDING, DESCENDING

# Custom tool modules
import mongodb  # module for setting up connection with (local) MongoDB database
import multiprocessing_workers  # module for splitting workloads between processes
import utilities  # module for various custom utility functions
from config import * # import all global configuration variables

In [2]:
# read in method_1, method_2 results
m1_ibm_user_ids_lst = []
m2_ibm_user_ids_lst = []

if not m1_ibm_user_ids_lst:
    with open(M1_IBM_USER_IDS_PKL, 'rb') as f:
        m1_ibm_user_ids_lst = pickle.load(f)

if not m2_ibm_user_ids_lst:
    with open(M2_IBM_USER_IDS_PKL, 'rb') as f:
        m2_ibm_user_ids_lst = pickle.load(f)

In [3]:
# query only retweet tweets
match_dict = {'$match': {'quoted_status': {'$exists': True}}}

limit_dict = {'$limit': 100}

project_dict = {'$project': {'_id': 0,
                             'id': 1,
                             'retweet_count': 1,
                             'quoted_status.retweet_count': 1}}

# group_dict = {'$group': {'_id': '$user.id', # user's id
#                          'retweet_tweets_num': {'$sum': 1}, # total number of retweet tweets belongs to the user
#                          'retweet_tweets_total_retweet_count': {'$sum': '$retweet_count'} # sum of retweet counts of all retweet tweets belong to the user
#                          }}
# project_dict = {'$project': {'_id': 0,
#                             'user_id': '$_id',
#                             'retweet_tweets_num': 1,
#                             'retweet_tweets_total_retweet_count': 1}}

ppl_lst = [match_dict, project_dict, limit_dict]

updated_col = mongodb.initialize(db_name=DB_NAME, collection_name=UPDATED_COL)
cursor = updated_col.aggregate(pipeline=ppl_lst,
                               allowDiskUse=True) # Exceeded memory limit for $group, but didn't allow external sort. Pass allowDiskUse:true to opt in.
for doc in cursor:
    print(doc)

MongoDB on localhost:27017/tweets_ek.c2 connected successfully!
{'id': 838632147929923584, 'retweet_count': 0, 'quoted_status': {'retweet_count': 56}}
{'id': 838632255127891968, 'retweet_count': 0, 'quoted_status': {'retweet_count': 12}}
{'id': 838632334823985154, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838632128946503680, 'retweet_count': 3, 'quoted_status': {'retweet_count': 20}}
{'id': 838632575518277633, 'retweet_count': 1, 'quoted_status': {'retweet_count': 168}}
{'id': 838632878292492288, 'retweet_count': 26, 'quoted_status': {'retweet_count': 113}}
{'id': 838632847166550016, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838633114448592896, 'retweet_count': 0, 'quoted_status': {'retweet_count': 1}}
{'id': 838633132370890752, 'retweet_count': 0, 'quoted_status': {'retweet_count': 18}}
{'id': 838633585733165056, 'retweet_count': 0, 'quoted_status': {'retweet_count': 2}}
{'id': 838633769766510592, 'retweet_count': 0, 'quoted_status': {'retweet_count': 10}}
{'id': 838634216128659456, 'retweet_count': 0, 'quoted_status': {'retweet_count': 399}}
{'id': 838634197858332672, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838634187120754689, 'retweet_count': 1, 'quoted_status': {'retweet_count': 8}}
{'id': 838634512913420288, 'retweet_count': 2, 'quoted_status': {'retweet_count': 215}}
{'id': 838634591875391488, 'retweet_count': 1, 'quoted_status': {'retweet_count': 25}}
{'id': 838635002158002176, 'retweet_count': 0, 'quoted_status': {'retweet_count': 62}}
{'id': 838635381507637248, 'retweet_count': 0, 'quoted_status': {'retweet_count': 236}}
{'id': 838635594754441216, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838635580900659204, 'retweet_count': 0, 'quoted_status': {'retweet_count': 4}}
{'id': 838635693798744064, 'retweet_count': 0, 'quoted_status': {'retweet_count': 13}}
{'id': 838635998284234752, 'retweet_count': 1, 'quoted_status': {'retweet_count': 5}}
{'id': 838635791609913345, 'retweet_count': 1, 'quoted_status': {'retweet_count': 40}}
{'id': 838635925638791168, 'retweet_count': 13, 'quoted_status': {'retweet_count': 5}}
{'id': 838635932483997697, 'retweet_count': 2, 'quoted_status': {'retweet_count': 2}}
{'id': 838636254803734528, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838636263276179456, 'retweet_count': 1, 'quoted_status': {'retweet_count': 12}}
{'id': 838636704735117313, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838637196085235712, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838637186987741184, 'retweet_count': 0, 'quoted_status': {'retweet_count': 2}}
{'id': 838637135674634240, 'retweet_count': 1, 'quoted_status': {'retweet_count': 0}}
{'id': 838637416579805185, 'retweet_count': 1, 'quoted_status': {'retweet_count': 7}}
{'id': 838637852170801153, 'retweet_count': 0, 'quoted_status': {'retweet_count': 24}}
{'id': 838637970857000960, 'retweet_count': 1, 'quoted_status': {'retweet_count': 16}}
{'id': 838637983158915073, 'retweet_count': 0, 'quoted_status': {'retweet_count': 1}}
{'id': 838638396667006976, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838638299342385153, 'retweet_count': 1, 'quoted_status': {'retweet_count': 35}}
{'id': 838638480385261568, 'retweet_count': 0, 'quoted_status': {'retweet_count': 73}}
{'id': 838639138857439232, 'retweet_count': 0, 'quoted_status': {'retweet_count': 6}}
{'id': 838638952546459650, 'retweet_count': 0, 'quoted_status': {'retweet_count': 636}}
{'id': 838639167764492288, 'retweet_count': 0, 'quoted_status': {'retweet_count': 46}}
{'id': 838639233380282368, 'retweet_count': 0, 'quoted_status': {'retweet_count': 4}}
{'id': 838639464863920128, 'retweet_count': 0, 'quoted_status': {'retweet_count': 94}}
{'id': 838639792791355392, 'retweet_count': 12, 'quoted_status': {'retweet_count': 57}}
{'id': 838639680245616640, 'retweet_count': 1, 'quoted_status': {'retweet_count': 1}}
{'id': 838639847283830784, 'retweet_count': 1, 'quoted_status': {'retweet_count': 1}}
{'id': 838639877939851264, 'retweet_count': 0, 'quoted_status': {'retweet_count': 5}}
{'id': 838639853722042373, 'retweet_count': 0, 'quoted_status': {'retweet_count': 16}}
{'id': 838640185743196162, 'retweet_count': 5, 'quoted_status': {'retweet_count': 16}}
{'id': 838640219217924097, 'retweet_count': 1, 'quoted_status': {'retweet_count': 1}}
{'id': 838640345139331072, 'retweet_count': 0, 'quoted_status': {'retweet_count': 25}}
{'id': 838640563247251456, 'retweet_count': 0, 'quoted_status': {'retweet_count': 10}}
{'id': 838640496461426688, 'retweet_count': 0, 'quoted_status': {'retweet_count': 6}}
{'id': 838640543097815040, 'retweet_count': 0, 'quoted_status': {'retweet_count': 2}}
{'id': 838640460138745857, 'retweet_count': 1, 'quoted_status': {'retweet_count': 15}}
{'id': 838640693824233472, 'retweet_count': 8, 'quoted_status': {'retweet_count': 131}}
{'id': 838640810727886849, 'retweet_count': 0, 'quoted_status': {'retweet_count': 36}}
{'id': 838640769841905665, 'retweet_count': 1, 'quoted_status': {'retweet_count': 30}}
{'id': 838640687021187072, 'retweet_count': 0, 'quoted_status': {'retweet_count': 87}}
{'id': 838640970841235456, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838641000872620035, 'retweet_count': 0, 'quoted_status': {'retweet_count': 14}}
{'id': 838641396294758400, 'retweet_count': 0, 'quoted_status': {'retweet_count': 5}}
{'id': 838641241365573632, 'retweet_count': 1, 'quoted_status': {'retweet_count': 10}}
{'id': 838641596128165888, 'retweet_count': 1, 'quoted_status': {'retweet_count': 1}}
{'id': 838641845513048067, 'retweet_count': 0, 'quoted_status': {'retweet_count': 15}}
{'id': 838641720648679424, 'retweet_count': 1, 'quoted_status': {'retweet_count': 13}}
{'id': 838641852559536131, 'retweet_count': 2, 'quoted_status': {'retweet_count': 46}}
{'id': 838642170894626816, 'retweet_count': 1, 'quoted_status': {'retweet_count': 170}}
{'id': 838642034818891776, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838642213408157696, 'retweet_count': 79, 'quoted_status': {'retweet_count': 94}}
{'id': 838642162455744512, 'retweet_count': 0, 'quoted_status': {'retweet_count': 43}}
{'id': 838642155346350080, 'retweet_count': 0, 'quoted_status': {'retweet_count': 17}}
{'id': 838642160719261696, 'retweet_count': 0, 'quoted_status': {'retweet_count': 18}}
{'id': 838642039348740096, 'retweet_count': 0, 'quoted_status': {'retweet_count': 1}}
{'id': 838642362540670976, 'retweet_count': 1, 'quoted_status': {'retweet_count': 445}}
{'id': 838642344589164544, 'retweet_count': 2, 'quoted_status': {'retweet_count': 46}}
{'id': 838642274628222976, 'retweet_count': 0, 'quoted_status': {'retweet_count': 107}}
{'id': 838642284392509440, 'retweet_count': 161, 'quoted_status': {'retweet_count': 90}}
{'id': 838642458384793600, 'retweet_count': 0, 'quoted_status': {'retweet_count': 6}}
{'id': 838642360724643840, 'retweet_count': 1, 'quoted_status': {'retweet_count': 2}}
{'id': 838642859980943360, 'retweet_count': 1, 'quoted_status': {'retweet_count': 0}}
{'id': 838643066248523776, 'retweet_count': 0, 'quoted_status': {'retweet_count': 1}}
{'id': 838643281269436416, 'retweet_count': 1, 'quoted_status': {'retweet_count': 5}}
{'id': 838643247660531712, 'retweet_count': 0, 'quoted_status': {'retweet_count': 94}}
{'id': 838643231936167936, 'retweet_count': 0, 'quoted_status': {'retweet_count': 4}}
{'id': 838643063136399360, 'retweet_count': 0, 'quoted_status': {'retweet_count': 10}}
{'id': 838643524413325312, 'retweet_count': 0, 'quoted_status': {'retweet_count': 94}}
{'id': 838643483925757952, 'retweet_count': 4, 'quoted_status': {'retweet_count': 1}}
{'id': 838644066518605824, 'retweet_count': 1, 'quoted_status': {'retweet_count': 6}}
{'id': 838643898658525184, 'retweet_count': 0, 'quoted_status': {'retweet_count': 12}}
{'id': 838644321830191104, 'retweet_count': 0, 'quoted_status': {'retweet_count': 5}}
{'id': 838644328855650304, 'retweet_count': 1, 'quoted_status': {'retweet_count': 399}}
{'id': 838644316440563712, 'retweet_count': 2, 'quoted_status': {'retweet_count': 34}}
{'id': 838644475438063616, 'retweet_count': 0, 'quoted_status': {'retweet_count': 13}}
{'id': 838644585400266752, 'retweet_count': 0, 'quoted_status': {'retweet_count': 27}}
{'id': 838644443938963457, 'retweet_count': 0, 'quoted_status': {'retweet_count': 5}}
{'id': 838644720771399680, 'retweet_count': 4, 'quoted_status': {'retweet_count': 4}}
{'id': 838645206442512384, 'retweet_count': 8, 'quoted_status': {'retweet_count': 1}}
{'id': 838644995431215104, 'retweet_count': 0, 'quoted_status': {'retweet_count': 1}}
{'id': 838645497434783744, 'retweet_count': 0, 'quoted_status': {'retweet_count': 13}}

In [2]:
# check how many tweets are 'retweet tweets'
updated_col = mongodb.initialize(db_name=DB_NAME, collection_name=UPDATED_COL)

total = updated_col.count() # total number of tweets in database
count = updated_col.count(filter={'retweeted_status': {'$exists': True}})
print('{} ({:.2%}) tweets are "retweet tweets"'.format(count, (count / total)))

MongoDB on localhost:27017/tweets_ek.c2 connected successfully!
2465388 (48.88%) tweets are "retweet tweets"

In [4]:
# check how many 'retweet tweets' unique
updated_col = mongodb.initialize(db_name=DB_NAME, collection_name=UPDATED_COL)

unique_retweet_tweet_id_set = set()

cursor = updated_col.find(filter={'retweeted_status': {'$exists': True}},
                          projection={'_id': 0, 'retweeted_status.id': 1})

for doc in cursor:
    unique_retweet_tweet_id = doc['retweeted_status']['id']
    unique_retweet_tweet_id_set.add(unique_retweet_tweet_id)
print('{} unique "retweet tweets"'.format(len(unique_retweet_tweet_id_set)))

MongoDB on localhost:27017/tweets_ek.c2 connected successfully!
555635 unique "retweet tweets"

In [5]:
# double check how many 'retweet tweets' unique
updated_col = mongodb.initialize(db_name=DB_NAME, collection_name=UPDATED_COL)

unique_retweet_tweet_id_lst = []

unique_retweet_tweet_id_lst = updated_col.distinct('retweeted_status.id',
                                                   filter={'retweeted_status': {'$exists': True}})

print('{} unique "retweet tweets"'.format(len(unique_retweet_tweet_id_lst)))

MongoDB on localhost:27017/tweets_ek.c2 connected successfully!
555635 unique "retweet tweets"

In [6]:
# check how many authors of 'retweet tweets'
updated_col = mongodb.initialize(db_name=DB_NAME, collection_name=UPDATED_COL)

retweet_tweet_user_id_set = set()

cursor = updated_col.find(filter={'retweeted_status': {'$exists': True}},
                          projection={'_id': 0, 'retweeted_status.user.id': 1})

for doc in cursor:
    retweet_tweet_user_id = doc['retweeted_status']['user']['id']
    retweet_tweet_user_id_set.add(retweet_tweet_user_id)
print('{} authors of "retweet tweets"'.format(len(retweet_tweet_user_id_set)))

MongoDB on localhost:27017/tweets_ek.c2 connected successfully!
143949 authors of "retweet tweets"

In [7]:
# double check how many 'retweet tweets' unique
updated_col = mongodb.initialize(db_name=DB_NAME, collection_name=UPDATED_COL)

retweet_tweet_user_id_lst = []

retweet_tweet_user_id_lst = updated_col.distinct('retweeted_status.user.id',
                                                 filter={'retweeted_status': {'$exists': True}})

print('{} unique "retweet tweets"'.format(len(retweet_tweet_user_id_lst)))

MongoDB on localhost:27017/tweets_ek.c2 connected successfully!
143949 unique "retweet tweets"

In [3]:
"""
Check the correctness of update 'retweet_count' field manually in tweets_ek-2:tw_nt collection by comparing its distribution against
the tweets_ek:c2 collection
"""

import pandas as pd
import mongodb


'''
Extract all the "retweet_count" of native tweets in tweets_ek:c2 collection
'''
old_retweet_count_lst = []
print('Building old retweet_count list...')

tweets_ek_c2 = mongodb.initialize(db_name='tweets_ek', collection_name='c2')

cursor = tweets_ek_c2.find(filter={'retweeted_status': {'$exists': False}}, # native tweets only
                           projection={'_id': 0, 'retweet_count': 1})

for doc in cursor:
    retweet_count = int(doc['retweet_count'])
    old_retweet_count_lst.append(retweet_count)
print('List length: {}'.format(len(old_retweet_count_lst)))

'''
Extract all the "retweet_count" of native tweets in tweets_ek-2:tw_nt
'''
new_retweet_count_lst = []
print('Building new retweet_count list...')

tweets_ek_2_tw_nt = mongodb.initialize(db_name='tweets_ek-2', collection_name='tw_nt')

cursor = tweets_ek_2_tw_nt.find(projection={'_id': 0, 'retweet_count': 1}) # all tweets in this collection are native tweets
 
for doc in cursor:
    retweet_count = int(doc['retweet_count'])
    new_retweet_count_lst.append(retweet_count)
print('List length: {}'.format(len(new_retweet_count_lst)))

s1 = pd.Series(data=old_retweet_count_lst)
s2 = pd.Series(data=new_retweet_count_lst)

Building old retweet_count list...
MongoDB on localhost:27017/tweets_ek.c2 connected successfully!
List length: 2578199
Building new retweet_count list...
MongoDB on localhost:27017/tweets_ek-2.tw_nt connected successfully!
List length: 5812824

In [4]:
s1.describe()

count    2.578199e+06
mean     9.551819e-01
std      2.017118e+01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.749600e+04
dtype: float64

In [5]:
s2.describe()

count    5.812824e+06
mean     9.637095e-01
std      1.541557e+01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.845800e+04
dtype: float64

In [6]:
tmp_col = mongodb.initialize(DB_NAME, USER_NT_COL)
total = tmp_col.count()
doc = tmp_col.count(filter={'description': {'$ne': None}})
print(total)
print(doc)

MongoDB on localhost:27017/tweets_ek-2.user_nt connected successfully!
609799
527938

In [3]:
'''
Read in simple_influence pickle
'''
df = pd.read_pickle(SIMPLE_INFLUENCE_PKL)

# clean and preparations
df = df.fillna(0)

df = df.replace(to_replace=-1, value=0) # one data error with 'fo' = -1

'''
Load lists of IBM users
'''
user_nt_ibm_desc_ids_lst = []
with open(USER_NT_IBM_DESC_IDS_LST_PKL, 'rb') as f:
    user_nt_ibm_desc_ids_lst = pickle.load(f)

user_nt_ibm_desc_ids_set = set(user_nt_ibm_desc_ids_lst)
user_nt_ibm_desc_cond = df['uid'].isin(user_nt_ibm_desc_ids_set)
df_user_nt_ibm_desc = df[user_nt_ibm_desc_cond]

In [4]:
df_user_nt_ibm_desc.describe(np.arange(0.1, 1, 0.1))

,uid,fo,n_n,n_src,q_n,q_src,p_n,p_src,nr_n,nr_src
count,6.271000e+03,6271.000000,6271.000000,6271.000000,6271.000000,6271.000000,6271.000000,6271.000000,6271.000000,6271.000000
mean,5.613556e+16,1575.794291,12.924573,19.817573,1.156594,1.162972,0.234093,0.373784,11.566417,18.290384
std,2.025977e+17,12024.192435,44.555510,243.465643,7.475342,15.704170,6.039138,16.889678,42.561823,240.657298
min,1.142600e+04,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10%,1.872436e+07,37.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
20%,4.217893e+07,80.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
30.0%,1.036314e+08,133.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
40%,2.373536e+08,197.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000
50%,3.890683e+08,280.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000
60%,6.124077e+08,399.000000,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000,3.000000,2.000000
70%,1.533242e+09,610.000000,6.000000,3.000000,1.000000,0.000000,0.000000,0.000000,5.000000,3.000000
80%,2.797981e+09,1033.000000,12.000000,7.000000,1.000000,0.000000,0.000000,0.000000,10.000000,6.000000
90%,3.837839e+09,2219.000000,27.000000,18.000000,2.000000,2.000000,0.000000,0.000000,24.000000,15.000000
max,8.652010e+17,576741.000000,1330.000000,13985.000000,435.000000,1034.000000,453.000000,1179.000000,1330.000000,13954.000000

In [18]:
df_user_nt_ibm_desc[df_user_nt_ibm_desc['fo'] > 5000].sort_values(by='fo', ascending=False)

,uid,fo,n_n,n_src,q_n,q_src,p_n,p_src,nr_n,nr_src
109424,47336979,576741,1,9,0.0,0.0,0.0,0.0,1.0,9.0
45344,17880018,440270,1,4,1.0,4.0,0.0,0.0,0.0,0.0
51822,18994444,347515,149,8474,3.0,23.0,15.0,5.0,133.0,8447.0
83117,29735775,164355,305,13985,1.0,31.0,1.0,0.0,303.0,13954.0
36865,16528347,152753,101,439,0.0,0.0,0.0,0.0,101.0,439.0
239675,267283568,147126,347,4501,5.0,26.0,2.0,14.0,340.0,4461.0
233799,253663760,135541,27,87,3.0,8.0,1.0,0.0,23.0,79.0
284383,408898240,131881,68,1438,30.0,558.0,34.0,625.0,11.0,284.0
35482,16319797,120759,57,1085,3.0,47.0,3.0,5.0,51.0,1033.0
211690,201846344,111972,127,2875,5.0,63.0,1.0,0.0,121.0,2812.0
239971,267908574,105695,350,3220,1.0,4.0,2.0,0.0,347.0,3216.0
93811,36740214,95119,45,137,6.0,10.0,15.0,15.0,24.0,112.0
131746,68449292,83966,67,554,0.0,0.0,0.0,0.0,67.0,554.0
35788,16362921,83355,236,1194,6.0,13.0,1.0,0.0,229.0,1181.0
132189,68971853,82002,6,2,0.0,0.0,0.0,0.0,6.0,2.0
42121,17379987,76919,277,1373,15.0,53.0,4.0,24.0,258.0,1296.0
418327,2477967164,72609,11,165,0.0,0.0,0.0,0.0,11.0,165.0
390562,1953648950,66495,220,3613,5.0,48.0,3.0,8.0,213.0,3562.0
248243,289502013,63642,114,912,0.0,0.0,14.0,7.0,100.0,905.0
243517,276769777,54374,1,0,1.0,0.0,0.0,0.0,0.0,0.0
280126,393168472,52812,2,2,2.0,2.0,0.0,0.0,0.0,0.0
22311,14618805,50832,33,103,0.0,0.0,0.0,0.0,33.0,103.0
468754,3192402548,50750,221,2251,0.0,0.0,1.0,0.0,220.0,2251.0
118620,54680379,50224,338,1337,0.0,0.0,1.0,1.0,337.0,1336.0
60749,20924605,49764,53,134,0.0,0.0,1.0,1.0,52.0,133.0
449483,2927197497,46708,12,31,0.0,0.0,0.0,0.0,12.0,31.0
406813,2336770008,46153,85,1572,0.0,0.0,0.0,0.0,85.0,1572.0
359871,1228243574,44668,2,2,0.0,0.0,0.0,0.0,2.0,2.0
187898,147470258,42435,4,12,1.0,3.0,0.0,0.0,3.0,9.0
367845,1374829801,40224,1,2,0.0,0.0,1.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
237880,262828811,5400,11,39,1.0,1.0,0.0,0.0,10.0,38.0
200865,176463583,5378,4,9,0.0,0.0,0.0,0.0,4.0,9.0
237048,260909325,5372,20,24,0.0,0.0,1.0,1.0,19.0,23.0
369915,1410422706,5371,10,13,0.0,0.0,1.0,0.0,9.0,13.0
92313,35864376,5350,56,32,27.0,10.0,1.0,0.0,28.0,22.0
439552,2825705712,5349,159,23,2.0,0.0,0.0,0.0,157.0,23.0
226600,237960086,5342,3,3,2.0,3.0,0.0,0.0,1.0,0.0
293374,453685470,5339,14,79,6.0,16.0,0.0,0.0,8.0,63.0
475,51063,5331,11,1034,11.0,1034.0,0.0,0.0,0.0,0.0
160367,103737956,5329,7,12,0.0,0.0,0.0,0.0,7.0,12.0
17878,14185648,5328,1,4,1.0,4.0,0.0,0.0,0.0,0.0
327419,703481138,5299,56,232,5.0,18.0,0.0,0.0,51.0,214.0
214426,209300857,5272,16,18,3.0,11.0,0.0,0.0,13.0,7.0
18609,14248201,5270,135,100,0.0,0.0,1.0,0.0,134.0,100.0
72836,24745694,5249,20,10,9.0,4.0,1.0,0.0,10.0,6.0
107333,45833204,5233,3,2,0.0,0.0,0.0,0.0,3.0,2.0
14243,12402972,5207,4,2,0.0,0.0,0.0,0.0,4.0,2.0
278223,387059848,5201,4,1,0.0,0.0,0.0,0.0,4.0,1.0
410286,2373814405,5191,3,0,0.0,0.0,0.0,0.0,3.0,0.0
149222,89440968,5159,192,45,0.0,0.0,0.0,0.0,192.0,45.0
481297,3356074280,5143,92,40,24.0,12.0,10.0,5.0,58.0,23.0
182704,137826568,5136,52,13,1.0,0.0,0.0,0.0,51.0,13.0
265907,344923471,5121,287,531,0.0,0.0,0.0,0.0,287.0,531.0
341996,905865306,5081,35,0,0.0,0.0,0.0,0.0,35.0,0.0
11076,9819862,5027,24,3,0.0,0.0,0.0,0.0,24.0,3.0
200124,174783969,5027,2,3,0.0,0.0,0.0,0.0,2.0,3.0
439720,2827451902,5018,408,210,12.0,0.0,0.0,0.0,396.0,210.0
1910,894201,5016,1,8,1.0,8.0,0.0,0.0,0.0,0.0
157963,100286454,5015,2,0,0.0,0.0,0.0,0.0,2.0,0.0
24273,14837564,5004,4,0,0.0,0.0,0.0,0.0,4.0,0.0

In [5]:
df_user_nt_ibm_desc[df_user_nt_ibm_desc['fo'] > 0].sort_values(by='fo', ascending=False)

,uid,fo,n_n,n_src,q_n,q_src,p_n,p_src,nr_n,nr_src
109424,47336979,576741,1,9,0.0,0.0,0.0,0.0,1.0,9.0
45344,17880018,440270,1,4,1.0,4.0,0.0,0.0,0.0,0.0
51822,18994444,347515,149,8474,3.0,23.0,15.0,5.0,133.0,8447.0
83117,29735775,164355,305,13985,1.0,31.0,1.0,0.0,303.0,13954.0
36865,16528347,152753,101,439,0.0,0.0,0.0,0.0,101.0,439.0
239675,267283568,147126,347,4501,5.0,26.0,2.0,14.0,340.0,4461.0
233799,253663760,135541,27,87,3.0,8.0,1.0,0.0,23.0,79.0
284383,408898240,131881,68,1438,30.0,558.0,34.0,625.0,11.0,284.0
35482,16319797,120759,57,1085,3.0,47.0,3.0,5.0,51.0,1033.0
211690,201846344,111972,127,2875,5.0,63.0,1.0,0.0,121.0,2812.0
239971,267908574,105695,350,3220,1.0,4.0,2.0,0.0,347.0,3216.0
93811,36740214,95119,45,137,6.0,10.0,15.0,15.0,24.0,112.0
131746,68449292,83966,67,554,0.0,0.0,0.0,0.0,67.0,554.0
35788,16362921,83355,236,1194,6.0,13.0,1.0,0.0,229.0,1181.0
132189,68971853,82002,6,2,0.0,0.0,0.0,0.0,6.0,2.0
42121,17379987,76919,277,1373,15.0,53.0,4.0,24.0,258.0,1296.0
418327,2477967164,72609,11,165,0.0,0.0,0.0,0.0,11.0,165.0
390562,1953648950,66495,220,3613,5.0,48.0,3.0,8.0,213.0,3562.0
248243,289502013,63642,114,912,0.0,0.0,14.0,7.0,100.0,905.0
243517,276769777,54374,1,0,1.0,0.0,0.0,0.0,0.0,0.0
280126,393168472,52812,2,2,2.0,2.0,0.0,0.0,0.0,0.0
22311,14618805,50832,33,103,0.0,0.0,0.0,0.0,33.0,103.0
468754,3192402548,50750,221,2251,0.0,0.0,1.0,0.0,220.0,2251.0
118620,54680379,50224,338,1337,0.0,0.0,1.0,1.0,337.0,1336.0
60749,20924605,49764,53,134,0.0,0.0,1.0,1.0,52.0,133.0
449483,2927197497,46708,12,31,0.0,0.0,0.0,0.0,12.0,31.0
406813,2336770008,46153,85,1572,0.0,0.0,0.0,0.0,85.0,1572.0
359871,1228243574,44668,2,2,0.0,0.0,0.0,0.0,2.0,2.0
187898,147470258,42435,4,12,1.0,3.0,0.0,0.0,3.0,9.0
367845,1374829801,40224,1,2,0.0,0.0,1.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
547137,775410779294093312,3,9,0,0.0,0.0,0.0,0.0,9.0,0.0
315071,567283757,3,14,9,0.0,0.0,0.0,0.0,14.0,9.0
323947,618227912,3,2,1,0.0,0.0,0.0,0.0,2.0,1.0
547516,776052044578848768,2,1,1,0.0,0.0,0.0,0.0,1.0,1.0
595581,847209334136299521,2,3,3,0.0,0.0,0.0,0.0,3.0,3.0
231501,248755187,2,1,0,0.0,0.0,0.0,0.0,1.0,0.0
605113,855487306190528513,2,1,0,0.0,0.0,0.0,0.0,1.0,0.0
572705,822293881802788865,2,3,0,0.0,0.0,0.0,0.0,3.0,0.0
571896,821392418738229249,2,1,0,1.0,0.0,0.0,0.0,0.0,0.0
606450,857534493514661888,2,1,0,1.0,0.0,0.0,0.0,0.0,0.0
606258,857217757175316480,2,4,0,4.0,0.0,0.0,0.0,0.0,0.0
541807,763836229955817473,2,2,0,0.0,0.0,0.0,0.0,2.0,0.0
603299,853920852169154561,2,1,0,0.0,0.0,0.0,0.0,1.0,0.0
574823,824722362922860544,2,3,0,1.0,0.0,0.0,0.0,2.0,0.0
593977,845380463619457026,2,24,4,9.0,2.0,8.0,0.0,7.0,2.0
592634,844203779100696578,2,5,0,0.0,0.0,0.0,0.0,5.0,0.0
152004,92512954,2,1,0,0.0,0.0,0.0,0.0,1.0,0.0
582229,833810542213132288,2,20,1,1.0,0.0,0.0,0.0,19.0,1.0
580878,831968732830396416,2,1,0,0.0,0.0,1.0,0.0,0.0,0.0
379826,1608970790,2,7,0,0.0,0.0,0.0,0.0,7.0,0.0
609121,863034560048648192,2,3,0,0.0,0.0,0.0,0.0,3.0,0.0
599286,850707327061774336,1,3,0,0.0,0.0,2.0,0.0,1.0,0.0
587222,839224041986748416,1,14,3,0.0,0.0,0.0,0.0,14.0,3.0
587948,839814129468715009,1,1,0,0.0,0.0,0.0,0.0,1.0,0.0
606448,857534004534358016,1,8,0,2.0,0.0,0.0,0.0,6.0,0.0
598621,849947425896714241,1,6,0,0.0,0.0,0.0,0.0,6.0,0.0
593534,844927410059513857,1,2,0,0.0,0.0,0.0,0.0,2.0,0.0
557692,795512917831524352,1,1,2,0.0,0.0,0.0,0.0,1.0,2.0
608117,860422335333093376,1,13,1,0.0,0.0,0.0,0.0,13.0,1.0
608895,862358912921731074,1,2,3,1.0,3.0,0.0,0.0,1.0,0.0

In [8]:
target_user_ids_lst = list(df_user_nt_ibm_desc[df_user_nt_ibm_desc['fo'] > 0]['uid'])

In [9]:
target_user_ids_lst.remove(47336979)
target_user_ids_lst.remove(17880018)

In [12]:
with open(os.path.join('.', 'target_uids.txt'), 'w') as f:
    for target_user_id in target_user_ids_lst:
        f.write(str(target_user_id) + '\n')

In [5]:
user_nt_col = mongodb.initialize(DB_NAME, USER_NT_COL)
# protected account 1: 392814683
# protected account 2: 400175272
doc = user_nt_col.find_one(filter={'id': 400175272})
pprint(doc)

MongoDB on localhost:27017/tweets_ek-2.user_nt connected successfully!
{'_id': ObjectId('59272627fe57a1210e4b524c'),
 'contributors_enabled': False,
 'created_at': 'Fri Oct 28 16:25:19 +0000 2011',
 'default_profile': False,
 'default_profile_image': False,
 'description': 'Views expressed are personal; Software Engineer at IBM; '
                'Previously Graduate student at IIIT Hyderabad in Data Mining, '
                'NLP, Machine Learning',
 'favourites_count': 440,
 'follow_request_sent': None,
 'followers_count': 153,
 'following': None,
 'friends_count': 558,
 'geo_enabled': True,
 'id': 400175272,
 'id_str': '400175272',
 'is_translator': False,
 'lang': 'en',
 'listed_count': 3,
 'location': 'India',
 'name': 'Ayushi Dalmia',
 'notifications': None,
 'profile_background_color': '9AE4E8',
 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme16/bg.gif',
 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme16/bg.gif',
 'profile_background_tile': False,
 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/400175272/1406456831',
 'profile_image_url': 'http://pbs.twimg.com/profile_images/808961986574909440/OJMuzEXC_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/808961986574909440/OJMuzEXC_normal.jpg',
 'profile_link_color': '2A46FF',
 'profile_sidebar_border_color': 'FFFFFF',
 'profile_sidebar_fill_color': 'DDFFCC',
 'profile_text_color': '333333',
 'profile_use_background_image': True,
 'protected': False,
 'screen_name': 'AyushiDalmia',
 'statuses_count': 475,
 'time_zone': None,
 'url': 'https://www.linkedin.com/in/ayushidalmia',
 'utc_offset': None,
 'verified': False}