In [1]:
# Data analysis modules: pandas, matplotlib, numpy, and etc.
%matplotlib inline
%config InlineBackend.figure_format = 'retina' # render double resolution plot output for Retina screens 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Standard modules, MongoDB modules
import os, sys, json, datetime, pickle, multiprocessing, logging
from pprint import pprint

import pymongo
from pymongo import IndexModel, ASCENDING, DESCENDING

# Custom tool modules
import mongodb  # module for setting up connection with (local) MongoDB database
import multiprocessing_workers  # module for splitting workloads between processes
import utilities  # module for various custom utility functions
from config import * # import all global configuration variables

In [2]:
# read in method_1, method_2 results
m1_ibm_user_ids_lst = []
m2_ibm_user_ids_lst = []

if not m1_ibm_user_ids_lst:
    with open(M1_IBM_USER_IDS_PKL, 'rb') as f:
        m1_ibm_user_ids_lst = pickle.load(f)

if not m2_ibm_user_ids_lst:
    with open(M2_IBM_USER_IDS_PKL, 'rb') as f:
        m2_ibm_user_ids_lst = pickle.load(f)

NameError: name 'M1_IBM_USER_IDS_PKL' is not defined

In [3]:
# query only retweet tweets
match_dict = {'$match': {'quoted_status': {'$exists': True}}}

limit_dict = {'$limit': 100}

project_dict = {'$project': {'_id': 0,
                             'id': 1,
                             'retweet_count': 1,
                             'quoted_status.retweet_count': 1}}

# group_dict = {'$group': {'_id': '$user.id', # user's id
#                          'retweet_tweets_num': {'$sum': 1}, # total number of retweet tweets belongs to the user
#                          'retweet_tweets_total_retweet_count': {'$sum': '$retweet_count'} # sum of retweet counts of all retweet tweets belong to the user
#                          }}
# project_dict = {'$project': {'_id': 0,
#                             'user_id': '$_id',
#                             'retweet_tweets_num': 1,
#                             'retweet_tweets_total_retweet_count': 1}}

ppl_lst = [match_dict, project_dict, limit_dict]

updated_col = mongodb.initialize(db_name=DB_NAME, collection_name=UPDATED_COL)
cursor = updated_col.aggregate(pipeline=ppl_lst,
                               allowDiskUse=True) # Exceeded memory limit for $group, but didn't allow external sort. Pass allowDiskUse:true to opt in.
for doc in cursor:
    print(doc)

MongoDB on localhost:27017/tweets_ek.c2 connected successfully!
{'id': 838632147929923584, 'retweet_count': 0, 'quoted_status': {'retweet_count': 56}}
{'id': 838632255127891968, 'retweet_count': 0, 'quoted_status': {'retweet_count': 12}}
{'id': 838632334823985154, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838632128946503680, 'retweet_count': 3, 'quoted_status': {'retweet_count': 20}}
{'id': 838632575518277633, 'retweet_count': 1, 'quoted_status': {'retweet_count': 168}}
{'id': 838632878292492288, 'retweet_count': 26, 'quoted_status': {'retweet_count': 113}}
{'id': 838632847166550016, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838633114448592896, 'retweet_count': 0, 'quoted_status': {'retweet_count': 1}}
{'id': 838633132370890752, 'retweet_count': 0, 'quoted_status': {'retweet_count': 18}}
{'id': 838633585733165056, 'retweet_count': 0, 'quoted_status': {'retweet_count': 2}}
{'id': 838633769766510592, 'retweet_count': 0, 'quoted_status': {'retweet_count': 10}}
{'id': 838634216128659456, 'retweet_count': 0, 'quoted_status': {'retweet_count': 399}}
{'id': 838634197858332672, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838634187120754689, 'retweet_count': 1, 'quoted_status': {'retweet_count': 8}}
{'id': 838634512913420288, 'retweet_count': 2, 'quoted_status': {'retweet_count': 215}}
{'id': 838634591875391488, 'retweet_count': 1, 'quoted_status': {'retweet_count': 25}}
{'id': 838635002158002176, 'retweet_count': 0, 'quoted_status': {'retweet_count': 62}}
{'id': 838635381507637248, 'retweet_count': 0, 'quoted_status': {'retweet_count': 236}}
{'id': 838635594754441216, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838635580900659204, 'retweet_count': 0, 'quoted_status': {'retweet_count': 4}}
{'id': 838635693798744064, 'retweet_count': 0, 'quoted_status': {'retweet_count': 13}}
{'id': 838635998284234752, 'retweet_count': 1, 'quoted_status': {'retweet_count': 5}}
{'id': 838635791609913345, 'retweet_count': 1, 'quoted_status': {'retweet_count': 40}}
{'id': 838635925638791168, 'retweet_count': 13, 'quoted_status': {'retweet_count': 5}}
{'id': 838635932483997697, 'retweet_count': 2, 'quoted_status': {'retweet_count': 2}}
{'id': 838636254803734528, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838636263276179456, 'retweet_count': 1, 'quoted_status': {'retweet_count': 12}}
{'id': 838636704735117313, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838637196085235712, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838637186987741184, 'retweet_count': 0, 'quoted_status': {'retweet_count': 2}}
{'id': 838637135674634240, 'retweet_count': 1, 'quoted_status': {'retweet_count': 0}}
{'id': 838637416579805185, 'retweet_count': 1, 'quoted_status': {'retweet_count': 7}}
{'id': 838637852170801153, 'retweet_count': 0, 'quoted_status': {'retweet_count': 24}}
{'id': 838637970857000960, 'retweet_count': 1, 'quoted_status': {'retweet_count': 16}}
{'id': 838637983158915073, 'retweet_count': 0, 'quoted_status': {'retweet_count': 1}}
{'id': 838638396667006976, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838638299342385153, 'retweet_count': 1, 'quoted_status': {'retweet_count': 35}}
{'id': 838638480385261568, 'retweet_count': 0, 'quoted_status': {'retweet_count': 73}}
{'id': 838639138857439232, 'retweet_count': 0, 'quoted_status': {'retweet_count': 6}}
{'id': 838638952546459650, 'retweet_count': 0, 'quoted_status': {'retweet_count': 636}}
{'id': 838639167764492288, 'retweet_count': 0, 'quoted_status': {'retweet_count': 46}}
{'id': 838639233380282368, 'retweet_count': 0, 'quoted_status': {'retweet_count': 4}}
{'id': 838639464863920128, 'retweet_count': 0, 'quoted_status': {'retweet_count': 94}}
{'id': 838639792791355392, 'retweet_count': 12, 'quoted_status': {'retweet_count': 57}}
{'id': 838639680245616640, 'retweet_count': 1, 'quoted_status': {'retweet_count': 1}}
{'id': 838639847283830784, 'retweet_count': 1, 'quoted_status': {'retweet_count': 1}}
{'id': 838639877939851264, 'retweet_count': 0, 'quoted_status': {'retweet_count': 5}}
{'id': 838639853722042373, 'retweet_count': 0, 'quoted_status': {'retweet_count': 16}}
{'id': 838640185743196162, 'retweet_count': 5, 'quoted_status': {'retweet_count': 16}}
{'id': 838640219217924097, 'retweet_count': 1, 'quoted_status': {'retweet_count': 1}}
{'id': 838640345139331072, 'retweet_count': 0, 'quoted_status': {'retweet_count': 25}}
{'id': 838640563247251456, 'retweet_count': 0, 'quoted_status': {'retweet_count': 10}}
{'id': 838640496461426688, 'retweet_count': 0, 'quoted_status': {'retweet_count': 6}}
{'id': 838640543097815040, 'retweet_count': 0, 'quoted_status': {'retweet_count': 2}}
{'id': 838640460138745857, 'retweet_count': 1, 'quoted_status': {'retweet_count': 15}}
{'id': 838640693824233472, 'retweet_count': 8, 'quoted_status': {'retweet_count': 131}}
{'id': 838640810727886849, 'retweet_count': 0, 'quoted_status': {'retweet_count': 36}}
{'id': 838640769841905665, 'retweet_count': 1, 'quoted_status': {'retweet_count': 30}}
{'id': 838640687021187072, 'retweet_count': 0, 'quoted_status': {'retweet_count': 87}}
{'id': 838640970841235456, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838641000872620035, 'retweet_count': 0, 'quoted_status': {'retweet_count': 14}}
{'id': 838641396294758400, 'retweet_count': 0, 'quoted_status': {'retweet_count': 5}}
{'id': 838641241365573632, 'retweet_count': 1, 'quoted_status': {'retweet_count': 10}}
{'id': 838641596128165888, 'retweet_count': 1, 'quoted_status': {'retweet_count': 1}}
{'id': 838641845513048067, 'retweet_count': 0, 'quoted_status': {'retweet_count': 15}}
{'id': 838641720648679424, 'retweet_count': 1, 'quoted_status': {'retweet_count': 13}}
{'id': 838641852559536131, 'retweet_count': 2, 'quoted_status': {'retweet_count': 46}}
{'id': 838642170894626816, 'retweet_count': 1, 'quoted_status': {'retweet_count': 170}}
{'id': 838642034818891776, 'retweet_count': 0, 'quoted_status': {'retweet_count': 0}}
{'id': 838642213408157696, 'retweet_count': 79, 'quoted_status': {'retweet_count': 94}}
{'id': 838642162455744512, 'retweet_count': 0, 'quoted_status': {'retweet_count': 43}}
{'id': 838642155346350080, 'retweet_count': 0, 'quoted_status': {'retweet_count': 17}}
{'id': 838642160719261696, 'retweet_count': 0, 'quoted_status': {'retweet_count': 18}}
{'id': 838642039348740096, 'retweet_count': 0, 'quoted_status': {'retweet_count': 1}}
{'id': 838642362540670976, 'retweet_count': 1, 'quoted_status': {'retweet_count': 445}}
{'id': 838642344589164544, 'retweet_count': 2, 'quoted_status': {'retweet_count': 46}}
{'id': 838642274628222976, 'retweet_count': 0, 'quoted_status': {'retweet_count': 107}}
{'id': 838642284392509440, 'retweet_count': 161, 'quoted_status': {'retweet_count': 90}}
{'id': 838642458384793600, 'retweet_count': 0, 'quoted_status': {'retweet_count': 6}}
{'id': 838642360724643840, 'retweet_count': 1, 'quoted_status': {'retweet_count': 2}}
{'id': 838642859980943360, 'retweet_count': 1, 'quoted_status': {'retweet_count': 0}}
{'id': 838643066248523776, 'retweet_count': 0, 'quoted_status': {'retweet_count': 1}}
{'id': 838643281269436416, 'retweet_count': 1, 'quoted_status': {'retweet_count': 5}}
{'id': 838643247660531712, 'retweet_count': 0, 'quoted_status': {'retweet_count': 94}}
{'id': 838643231936167936, 'retweet_count': 0, 'quoted_status': {'retweet_count': 4}}
{'id': 838643063136399360, 'retweet_count': 0, 'quoted_status': {'retweet_count': 10}}
{'id': 838643524413325312, 'retweet_count': 0, 'quoted_status': {'retweet_count': 94}}
{'id': 838643483925757952, 'retweet_count': 4, 'quoted_status': {'retweet_count': 1}}
{'id': 838644066518605824, 'retweet_count': 1, 'quoted_status': {'retweet_count': 6}}
{'id': 838643898658525184, 'retweet_count': 0, 'quoted_status': {'retweet_count': 12}}
{'id': 838644321830191104, 'retweet_count': 0, 'quoted_status': {'retweet_count': 5}}
{'id': 838644328855650304, 'retweet_count': 1, 'quoted_status': {'retweet_count': 399}}
{'id': 838644316440563712, 'retweet_count': 2, 'quoted_status': {'retweet_count': 34}}
{'id': 838644475438063616, 'retweet_count': 0, 'quoted_status': {'retweet_count': 13}}
{'id': 838644585400266752, 'retweet_count': 0, 'quoted_status': {'retweet_count': 27}}
{'id': 838644443938963457, 'retweet_count': 0, 'quoted_status': {'retweet_count': 5}}
{'id': 838644720771399680, 'retweet_count': 4, 'quoted_status': {'retweet_count': 4}}
{'id': 838645206442512384, 'retweet_count': 8, 'quoted_status': {'retweet_count': 1}}
{'id': 838644995431215104, 'retweet_count': 0, 'quoted_status': {'retweet_count': 1}}
{'id': 838645497434783744, 'retweet_count': 0, 'quoted_status': {'retweet_count': 13}}

In [2]:
# check how many tweets are 'retweet tweets'
updated_col = mongodb.initialize(db_name=DB_NAME, collection_name=UPDATED_COL)

total = updated_col.count() # total number of tweets in database
count = updated_col.count(filter={'retweeted_status': {'$exists': True}})
print('{} ({:.2%}) tweets are "retweet tweets"'.format(count, (count / total)))

MongoDB on localhost:27017/tweets_ek.c2 connected successfully!
2465388 (48.88%) tweets are "retweet tweets"

In [4]:
# check how many 'retweet tweets' unique
updated_col = mongodb.initialize(db_name=DB_NAME, collection_name=UPDATED_COL)

unique_retweet_tweet_id_set = set()

cursor = updated_col.find(filter={'retweeted_status': {'$exists': True}},
                          projection={'_id': 0, 'retweeted_status.id': 1})

for doc in cursor:
    unique_retweet_tweet_id = doc['retweeted_status']['id']
    unique_retweet_tweet_id_set.add(unique_retweet_tweet_id)
print('{} unique "retweet tweets"'.format(len(unique_retweet_tweet_id_set)))

MongoDB on localhost:27017/tweets_ek.c2 connected successfully!
555635 unique "retweet tweets"

In [5]:
# double check how many 'retweet tweets' unique
updated_col = mongodb.initialize(db_name=DB_NAME, collection_name=UPDATED_COL)

unique_retweet_tweet_id_lst = []

unique_retweet_tweet_id_lst = updated_col.distinct('retweeted_status.id',
                                                   filter={'retweeted_status': {'$exists': True}})

print('{} unique "retweet tweets"'.format(len(unique_retweet_tweet_id_lst)))

MongoDB on localhost:27017/tweets_ek.c2 connected successfully!
555635 unique "retweet tweets"

In [6]:
# check how many authors of 'retweet tweets'
updated_col = mongodb.initialize(db_name=DB_NAME, collection_name=UPDATED_COL)

retweet_tweet_user_id_set = set()

cursor = updated_col.find(filter={'retweeted_status': {'$exists': True}},
                          projection={'_id': 0, 'retweeted_status.user.id': 1})

for doc in cursor:
    retweet_tweet_user_id = doc['retweeted_status']['user']['id']
    retweet_tweet_user_id_set.add(retweet_tweet_user_id)
print('{} authors of "retweet tweets"'.format(len(retweet_tweet_user_id_set)))

MongoDB on localhost:27017/tweets_ek.c2 connected successfully!
143949 authors of "retweet tweets"

In [7]:
# double check how many 'retweet tweets' unique
updated_col = mongodb.initialize(db_name=DB_NAME, collection_name=UPDATED_COL)

retweet_tweet_user_id_lst = []

retweet_tweet_user_id_lst = updated_col.distinct('retweeted_status.user.id',
                                                 filter={'retweeted_status': {'$exists': True}})

print('{} unique "retweet tweets"'.format(len(retweet_tweet_user_id_lst)))

MongoDB on localhost:27017/tweets_ek.c2 connected successfully!
143949 unique "retweet tweets"

In [3]:
"""
Check the correctness of update 'retweet_count' field manually in tweets_ek-2:tw_nt collection by comparing its distribution against
the tweets_ek:c2 collection
"""

import pandas as pd
import mongodb


'''
Extract all the "retweet_count" of native tweets in tweets_ek:c2 collection
'''
old_retweet_count_lst = []
print('Building old retweet_count list...')

tweets_ek_c2 = mongodb.initialize(db_name='tweets_ek', collection_name='c2')

cursor = tweets_ek_c2.find(filter={'retweeted_status': {'$exists': False}}, # native tweets only
                           projection={'_id': 0, 'retweet_count': 1})

for doc in cursor:
    retweet_count = int(doc['retweet_count'])
    old_retweet_count_lst.append(retweet_count)
print('List length: {}'.format(len(old_retweet_count_lst)))

'''
Extract all the "retweet_count" of native tweets in tweets_ek-2:tw_nt
'''
new_retweet_count_lst = []
print('Building new retweet_count list...')

tweets_ek_2_tw_nt = mongodb.initialize(db_name='tweets_ek-2', collection_name='tw_nt')

cursor = tweets_ek_2_tw_nt.find(projection={'_id': 0, 'retweet_count': 1}) # all tweets in this collection are native tweets
 
for doc in cursor:
    retweet_count = int(doc['retweet_count'])
    new_retweet_count_lst.append(retweet_count)
print('List length: {}'.format(len(new_retweet_count_lst)))

s1 = pd.Series(data=old_retweet_count_lst)
s2 = pd.Series(data=new_retweet_count_lst)

Building old retweet_count list...
MongoDB on localhost:27017/tweets_ek.c2 connected successfully!
List length: 2578199
Building new retweet_count list...
MongoDB on localhost:27017/tweets_ek-2.tw_nt connected successfully!
List length: 5812824

In [4]:
s1.describe()

count    2.578199e+06
mean     9.551819e-01
std      2.017118e+01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.749600e+04
dtype: float64

In [5]:
s2.describe()

count    5.812824e+06
mean     9.637095e-01
std      1.541557e+01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.845800e+04
dtype: float64

In [6]:
tmp_col = mongodb.initialize(DB_NAME, USER_NT_COL)
total = tmp_col.count()
doc = tmp_col.count(filter={'description': {'$ne': None}})
print(total)
print(doc)

MongoDB on localhost:27017/tweets_ek-2.user_nt connected successfully!
609799
527938

In [2]:
'''
Read in simple_influence pickle
'''
df = pd.read_pickle(SIMPLE_INFLUENCE_PKL)

# clean and preparations
df = df.fillna(0)

df = df.replace(to_replace=-1, value=0) # one data error with 'fo' = -1

'''
Load lists of IBM users
'''
user_nt_ibm_desc_ids_lst = []
with open(USER_NT_IBM_DESC_IDS_LST_PKL, 'rb') as f:
    user_nt_ibm_desc_ids_lst = pickle.load(f)

user_nt_ibm_desc_ids_set = set(user_nt_ibm_desc_ids_lst)
user_nt_ibm_desc_cond = df['uid'].isin(user_nt_ibm_desc_ids_set)
df_user_nt_ibm_desc = df[user_nt_ibm_desc_cond]

In [3]:
df_user_nt_ibm_desc.describe()

,uid,fo,n_n,n_src,q_n,q_src,p_n,p_src,nr_n,nr_src
count,6.271000e+03,6271.000000,6271.000000,6271.000000,6271.000000,6271.000000,6271.000000,6271.000000,6271.000000,6271.000000
mean,5.613556e+16,1575.794291,12.924573,19.817573,1.156594,1.162972,0.234093,0.373784,11.566417,18.290384
std,2.025977e+17,12024.192435,44.555510,243.465643,7.475342,15.704170,6.039138,16.889678,42.561823,240.657298
min,1.142600e+04,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.557586e+07,107.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,3.890683e+08,280.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000
75%,2.351117e+09,780.500000,8.000000,5.000000,1.000000,0.000000,0.000000,0.000000,7.000000,4.000000
max,8.652010e+17,576741.000000,1330.000000,13985.000000,435.000000,1034.000000,453.000000,1179.000000,1330.000000,13954.000000

In [18]:
df_user_nt_ibm_desc[df_user_nt_ibm_desc['fo'] > 5000].sort_values(by='fo', ascending=False)

,uid,fo,n_n,n_src,q_n,q_src,p_n,p_src,nr_n,nr_src
109424,47336979,576741,1,9,0.0,0.0,0.0,0.0,1.0,9.0
45344,17880018,440270,1,4,1.0,4.0,0.0,0.0,0.0,0.0
51822,18994444,347515,149,8474,3.0,23.0,15.0,5.0,133.0,8447.0
83117,29735775,164355,305,13985,1.0,31.0,1.0,0.0,303.0,13954.0
36865,16528347,152753,101,439,0.0,0.0,0.0,0.0,101.0,439.0
239675,267283568,147126,347,4501,5.0,26.0,2.0,14.0,340.0,4461.0
233799,253663760,135541,27,87,3.0,8.0,1.0,0.0,23.0,79.0
284383,408898240,131881,68,1438,30.0,558.0,34.0,625.0,11.0,284.0
35482,16319797,120759,57,1085,3.0,47.0,3.0,5.0,51.0,1033.0
211690,201846344,111972,127,2875,5.0,63.0,1.0,0.0,121.0,2812.0
239971,267908574,105695,350,3220,1.0,4.0,2.0,0.0,347.0,3216.0
93811,36740214,95119,45,137,6.0,10.0,15.0,15.0,24.0,112.0
131746,68449292,83966,67,554,0.0,0.0,0.0,0.0,67.0,554.0
35788,16362921,83355,236,1194,6.0,13.0,1.0,0.0,229.0,1181.0
132189,68971853,82002,6,2,0.0,0.0,0.0,0.0,6.0,2.0
42121,17379987,76919,277,1373,15.0,53.0,4.0,24.0,258.0,1296.0
418327,2477967164,72609,11,165,0.0,0.0,0.0,0.0,11.0,165.0
390562,1953648950,66495,220,3613,5.0,48.0,3.0,8.0,213.0,3562.0
248243,289502013,63642,114,912,0.0,0.0,14.0,7.0,100.0,905.0
243517,276769777,54374,1,0,1.0,0.0,0.0,0.0,0.0,0.0
280126,393168472,52812,2,2,2.0,2.0,0.0,0.0,0.0,0.0
22311,14618805,50832,33,103,0.0,0.0,0.0,0.0,33.0,103.0
468754,3192402548,50750,221,2251,0.0,0.0,1.0,0.0,220.0,2251.0
118620,54680379,50224,338,1337,0.0,0.0,1.0,1.0,337.0,1336.0
60749,20924605,49764,53,134,0.0,0.0,1.0,1.0,52.0,133.0
449483,2927197497,46708,12,31,0.0,0.0,0.0,0.0,12.0,31.0
406813,2336770008,46153,85,1572,0.0,0.0,0.0,0.0,85.0,1572.0
359871,1228243574,44668,2,2,0.0,0.0,0.0,0.0,2.0,2.0
187898,147470258,42435,4,12,1.0,3.0,0.0,0.0,3.0,9.0
367845,1374829801,40224,1,2,0.0,0.0,1.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
237880,262828811,5400,11,39,1.0,1.0,0.0,0.0,10.0,38.0
200865,176463583,5378,4,9,0.0,0.0,0.0,0.0,4.0,9.0
237048,260909325,5372,20,24,0.0,0.0,1.0,1.0,19.0,23.0
369915,1410422706,5371,10,13,0.0,0.0,1.0,0.0,9.0,13.0
92313,35864376,5350,56,32,27.0,10.0,1.0,0.0,28.0,22.0
439552,2825705712,5349,159,23,2.0,0.0,0.0,0.0,157.0,23.0
226600,237960086,5342,3,3,2.0,3.0,0.0,0.0,1.0,0.0
293374,453685470,5339,14,79,6.0,16.0,0.0,0.0,8.0,63.0
475,51063,5331,11,1034,11.0,1034.0,0.0,0.0,0.0,0.0
160367,103737956,5329,7,12,0.0,0.0,0.0,0.0,7.0,12.0
17878,14185648,5328,1,4,1.0,4.0,0.0,0.0,0.0,0.0
327419,703481138,5299,56,232,5.0,18.0,0.0,0.0,51.0,214.0
214426,209300857,5272,16,18,3.0,11.0,0.0,0.0,13.0,7.0
18609,14248201,5270,135,100,0.0,0.0,1.0,0.0,134.0,100.0
72836,24745694,5249,20,10,9.0,4.0,1.0,0.0,10.0,6.0
107333,45833204,5233,3,2,0.0,0.0,0.0,0.0,3.0,2.0
14243,12402972,5207,4,2,0.0,0.0,0.0,0.0,4.0,2.0
278223,387059848,5201,4,1,0.0,0.0,0.0,0.0,4.0,1.0
410286,2373814405,5191,3,0,0.0,0.0,0.0,0.0,3.0,0.0
149222,89440968,5159,192,45,0.0,0.0,0.0,0.0,192.0,45.0
481297,3356074280,5143,92,40,24.0,12.0,10.0,5.0,58.0,23.0
182704,137826568,5136,52,13,1.0,0.0,0.0,0.0,51.0,13.0
265907,344923471,5121,287,531,0.0,0.0,0.0,0.0,287.0,531.0
341996,905865306,5081,35,0,0.0,0.0,0.0,0.0,35.0,0.0
11076,9819862,5027,24,3,0.0,0.0,0.0,0.0,24.0,3.0
200124,174783969,5027,2,3,0.0,0.0,0.0,0.0,2.0,3.0
439720,2827451902,5018,408,210,12.0,0.0,0.0,0.0,396.0,210.0
1910,894201,5016,1,8,1.0,8.0,0.0,0.0,0.0,0.0
157963,100286454,5015,2,0,0.0,0.0,0.0,0.0,2.0,0.0
24273,14837564,5004,4,0,0.0,0.0,0.0,0.0,4.0,0.0

In [5]:
df_user_nt_ibm_desc[df_user_nt_ibm_desc['fo'] > 0].sort_values(by='fo', ascending=False)

,uid,fo,n_n,n_src,q_n,q_src,p_n,p_src,nr_n,nr_src
109424,47336979,576741,1,9,0.0,0.0,0.0,0.0,1.0,9.0
45344,17880018,440270,1,4,1.0,4.0,0.0,0.0,0.0,0.0
51822,18994444,347515,149,8474,3.0,23.0,15.0,5.0,133.0,8447.0
83117,29735775,164355,305,13985,1.0,31.0,1.0,0.0,303.0,13954.0
36865,16528347,152753,101,439,0.0,0.0,0.0,0.0,101.0,439.0
239675,267283568,147126,347,4501,5.0,26.0,2.0,14.0,340.0,4461.0
233799,253663760,135541,27,87,3.0,8.0,1.0,0.0,23.0,79.0
284383,408898240,131881,68,1438,30.0,558.0,34.0,625.0,11.0,284.0
35482,16319797,120759,57,1085,3.0,47.0,3.0,5.0,51.0,1033.0
211690,201846344,111972,127,2875,5.0,63.0,1.0,0.0,121.0,2812.0
239971,267908574,105695,350,3220,1.0,4.0,2.0,0.0,347.0,3216.0
93811,36740214,95119,45,137,6.0,10.0,15.0,15.0,24.0,112.0
131746,68449292,83966,67,554,0.0,0.0,0.0,0.0,67.0,554.0
35788,16362921,83355,236,1194,6.0,13.0,1.0,0.0,229.0,1181.0
132189,68971853,82002,6,2,0.0,0.0,0.0,0.0,6.0,2.0
42121,17379987,76919,277,1373,15.0,53.0,4.0,24.0,258.0,1296.0
418327,2477967164,72609,11,165,0.0,0.0,0.0,0.0,11.0,165.0
390562,1953648950,66495,220,3613,5.0,48.0,3.0,8.0,213.0,3562.0
248243,289502013,63642,114,912,0.0,0.0,14.0,7.0,100.0,905.0
243517,276769777,54374,1,0,1.0,0.0,0.0,0.0,0.0,0.0
280126,393168472,52812,2,2,2.0,2.0,0.0,0.0,0.0,0.0
22311,14618805,50832,33,103,0.0,0.0,0.0,0.0,33.0,103.0
468754,3192402548,50750,221,2251,0.0,0.0,1.0,0.0,220.0,2251.0
118620,54680379,50224,338,1337,0.0,0.0,1.0,1.0,337.0,1336.0
60749,20924605,49764,53,134,0.0,0.0,1.0,1.0,52.0,133.0
449483,2927197497,46708,12,31,0.0,0.0,0.0,0.0,12.0,31.0
406813,2336770008,46153,85,1572,0.0,0.0,0.0,0.0,85.0,1572.0
359871,1228243574,44668,2,2,0.0,0.0,0.0,0.0,2.0,2.0
187898,147470258,42435,4,12,1.0,3.0,0.0,0.0,3.0,9.0
367845,1374829801,40224,1,2,0.0,0.0,1.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
547137,775410779294093312,3,9,0,0.0,0.0,0.0,0.0,9.0,0.0
315071,567283757,3,14,9,0.0,0.0,0.0,0.0,14.0,9.0
323947,618227912,3,2,1,0.0,0.0,0.0,0.0,2.0,1.0
547516,776052044578848768,2,1,1,0.0,0.0,0.0,0.0,1.0,1.0
595581,847209334136299521,2,3,3,0.0,0.0,0.0,0.0,3.0,3.0
231501,248755187,2,1,0,0.0,0.0,0.0,0.0,1.0,0.0
605113,855487306190528513,2,1,0,0.0,0.0,0.0,0.0,1.0,0.0
572705,822293881802788865,2,3,0,0.0,0.0,0.0,0.0,3.0,0.0
571896,821392418738229249,2,1,0,1.0,0.0,0.0,0.0,0.0,0.0
606450,857534493514661888,2,1,0,1.0,0.0,0.0,0.0,0.0,0.0
606258,857217757175316480,2,4,0,4.0,0.0,0.0,0.0,0.0,0.0
541807,763836229955817473,2,2,0,0.0,0.0,0.0,0.0,2.0,0.0
603299,853920852169154561,2,1,0,0.0,0.0,0.0,0.0,1.0,0.0
574823,824722362922860544,2,3,0,1.0,0.0,0.0,0.0,2.0,0.0
593977,845380463619457026,2,24,4,9.0,2.0,8.0,0.0,7.0,2.0
592634,844203779100696578,2,5,0,0.0,0.0,0.0,0.0,5.0,0.0
152004,92512954,2,1,0,0.0,0.0,0.0,0.0,1.0,0.0
582229,833810542213132288,2,20,1,1.0,0.0,0.0,0.0,19.0,1.0
580878,831968732830396416,2,1,0,0.0,0.0,1.0,0.0,0.0,0.0
379826,1608970790,2,7,0,0.0,0.0,0.0,0.0,7.0,0.0
609121,863034560048648192,2,3,0,0.0,0.0,0.0,0.0,3.0,0.0
599286,850707327061774336,1,3,0,0.0,0.0,2.0,0.0,1.0,0.0
587222,839224041986748416,1,14,3,0.0,0.0,0.0,0.0,14.0,3.0
587948,839814129468715009,1,1,0,0.0,0.0,0.0,0.0,1.0,0.0
606448,857534004534358016,1,8,0,2.0,0.0,0.0,0.0,6.0,0.0
598621,849947425896714241,1,6,0,0.0,0.0,0.0,0.0,6.0,0.0
593534,844927410059513857,1,2,0,0.0,0.0,0.0,0.0,2.0,0.0
557692,795512917831524352,1,1,2,0.0,0.0,0.0,0.0,1.0,2.0
608117,860422335333093376,1,13,1,0.0,0.0,0.0,0.0,13.0,1.0
608895,862358912921731074,1,2,3,1.0,3.0,0.0,0.0,1.0,0.0

In [8]:
target_user_ids_lst = list(df_user_nt_ibm_desc[df_user_nt_ibm_desc['fo'] > 0]['uid'])

In [9]:
target_user_ids_lst.remove(47336979)
target_user_ids_lst.remove(17880018)

In [12]:
with open(os.path.join('.', 'target_uids.txt'), 'w') as f:
    for target_user_id in target_user_ids_lst:
        f.write(str(target_user_id) + '\n')

In [5]:
user_nt_col = mongodb.initialize(DB_NAME, USER_NT_COL)
# protected account 1: 392814683
# protected account 2: 400175272
doc = user_nt_col.find_one(filter={'id': 400175272})
pprint(doc)

MongoDB on localhost:27017/tweets_ek-2.user_nt connected successfully!
{'_id': ObjectId('59272627fe57a1210e4b524c'),
 'contributors_enabled': False,
 'created_at': 'Fri Oct 28 16:25:19 +0000 2011',
 'default_profile': False,
 'default_profile_image': False,
 'description': 'Views expressed are personal; Software Engineer at IBM; '
                'Previously Graduate student at IIIT Hyderabad in Data Mining, '
                'NLP, Machine Learning',
 'favourites_count': 440,
 'follow_request_sent': None,
 'followers_count': 153,
 'following': None,
 'friends_count': 558,
 'geo_enabled': True,
 'id': 400175272,
 'id_str': '400175272',
 'is_translator': False,
 'lang': 'en',
 'listed_count': 3,
 'location': 'India',
 'name': 'Ayushi Dalmia',
 'notifications': None,
 'profile_background_color': '9AE4E8',
 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme16/bg.gif',
 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme16/bg.gif',
 'profile_background_tile': False,
 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/400175272/1406456831',
 'profile_image_url': 'http://pbs.twimg.com/profile_images/808961986574909440/OJMuzEXC_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/808961986574909440/OJMuzEXC_normal.jpg',
 'profile_link_color': '2A46FF',
 'profile_sidebar_border_color': 'FFFFFF',
 'profile_sidebar_fill_color': 'DDFFCC',
 'profile_text_color': '333333',
 'profile_use_background_image': True,
 'protected': False,
 'screen_name': 'AyushiDalmia',
 'statuses_count': 475,
 'time_zone': None,
 'url': 'https://www.linkedin.com/in/ayushidalmia',
 'utc_offset': None,
 'verified': False}

In [13]:
"""
Move 500 queried uid from dir1 to dir2
"""
import os, glob, shutil

if 1 == 1:
    '''
    Followers information of M1 IBM users queried from Twitter API are stored in 2 separate folders
    '''
    followers_uids_dir1 = '/home/dwang8/Documents/workspace/ibm_tweets_projecct-collector-4/follower_ids'
    followers_objs_dir1 = '/home/dwang8/Documents/workspace/ibm_tweets_projecct-collector-4/follower_objs'
    
    followers_uids_dir2 = '/home/dwang8/Documents/workspace-2/ibm_tweets_projecct-collector-4/follower_ids'
    followers_objs_dir2 = '/home/dwang8/Documents/workspace-2/ibm_tweets_projecct-collector-4/follower_objs'
    
    '''
    Read in list of queried uids from dir1
    '''
    queried_uids_lst = []
    for txt_path in sorted(glob.glob(os.path.join(followers_uids_dir1, '*.txt'))):
        txt_name = txt_path.split('/')[-1]
        queried_uid = int(txt_name.split('.')[0])
        queried_uids_lst.append(queried_uid)
    
    '''
    Remove already hydrated user ids from list of queried user ids
    '''
    cleaned_queried_uids = queried_uids_lst
    removed_count = 0
    for json_path in sorted(glob.glob(os.path.join(followers_objs_dir1, '*.json'))):
        json_name = json_path.split('/')[-1]
        hydrated_uid = int(json_name.split('.')[0])
        '''
        Avoid ValueError if user id of file name not in cleaned_queried_uids
        '''
        if hydrated_uid in cleaned_queried_uids:
            cleaned_queried_uids.remove(hydrated_uid)
            removed_count += 1
    print('Clear {} queried user ids from list'.format(removed_count))
    print('Remain un-hydrated user ids: {}'.format(len(cleaned_queried_uids)))
    
#     '''
#     Copy 500 un-hydrated user ids from dir1 to dir2
#     '''
#     move_queried_uids = cleaned_queried_uids[-500:]
#     print('Move un-hydrated user ids from dir1 to dir2: {}'.format(len(move_queried_uids)))
#     for move_queried_uid in move_queried_uids:
#         print('Handling {}'.format(move_queried_uid))
#         '''
#         Copy follower_ids file from dir1 to dir2
#         '''
#         source_file = os.path.join(followers_uids_dir1, '{}.txt'.format(move_queried_uid))
#         target_file = os.path.join(followers_uids_dir2, '{}.txt'.format(move_queried_uid))
#         shutil.copyfile(source_file, target_file)
        
#         '''
#         Rename follower_ids file in dir1
#         '''
#         os.rename(source_file, os.path.join(followers_uids_dir1, '{}.txt.moved'.format(move_queried_uid)))
#     print('Done')

Clear 2109 queried user ids from list
Remain un-hydrated user ids: 440

In [6]:
if 1 == 1:
    col = mongodb.initialize(db_name=DB_NAME, collection_name=TW_RT_IBM_TW_COL)
    lst = col.distinct('user.id')
    print('{}'.format(len(lst)))
    
    with open(USER_NT_IBM_DESC_IDS_LST_PKL, 'rb') as f:
        m1_ibm_ids_lst = pickle.load(f)
    print('m1 ibm users: {}'.format(len(m1_ibm_ids_lst)))
    
    inter = set(lst).intersection(set(m1_ibm_ids_lst))
    print(len(inter))

MongoDB on localhost:27017/tweets_ek-2.tw_rt_ibm_tw connected successfully!
36028
m1 ibm users: 6271
3181

In [6]:
if 1 == 1:
    df = pd.read_pickle(SIMPLE_INFLUENCE_PKL)
    df = df.fillna(0)
    
    '''
    Load lists of IBM users
    '''
    user_nt_ibm_desc_ids_lst = []
    with open(USER_NT_IBM_DESC_IDS_LST_PKL, 'rb') as f:
        user_nt_ibm_desc_ids_lst = pickle.load(f)

    user_nt_ibm_tw_prop_2_ids_lst = []
    with open(USER_NT_IBM_TW_PROP_2_IDS_LST_PKL, 'rb') as f:
        user_nt_ibm_tw_prop_2_ids_lst = pickle.load(f)     
    
    user_nt_ibm_desc_ids_set = set(user_nt_ibm_desc_ids_lst)
    user_nt_ibm_tw_prop_2_ids_set = set(user_nt_ibm_tw_prop_2_ids_lst)
    
    '''
    build dfs
    '''
    user_nt_ibm_desc_cond = df['uid'].isin(user_nt_ibm_desc_ids_set)
    df_user_nt_ibm_desc = df[user_nt_ibm_desc_cond]
    df_user_nt_nonibm_desc = df[~ user_nt_ibm_desc_cond]
    
    user_nt_ibm_tw_prop_2_cond = df['uid'].isin(user_nt_ibm_tw_prop_2_ids_set)
    df_user_nt_ibm_tw_prop_2 = df[user_nt_ibm_tw_prop_2_cond]
    df_user_nt_nonibm_tw_prop_2 = df[~ user_nt_ibm_tw_prop_2_cond]

    print('Done')

Done

In [7]:
if 1 == 1:
    """
    Simple influence of M1
    """
    m1_ibm_norm_s = df_user_nt_ibm_desc['fo'] * df_user_nt_ibm_desc['n_n']
    m1_ibm_norm_s = m1_ibm_norm_s.replace(to_replace=0, value=1) # clean 0 values since its denominator
    m1_ibm_simple_influence = df_user_nt_ibm_desc['n_src'] / m1_ibm_norm_s
    df_user_nt_ibm_desc = df_user_nt_ibm_desc.assign(simple_inf=m1_ibm_simple_influence)
    
    """
    Compound influence of M1
    """
    m1_ibm_arc = df_user_nt_ibm_desc['n_src'] / df_user_nt_ibm_desc['n_n']
    m1_ibm_cleaned_fo = df_user_nt_ibm_desc['fo'].replace(to_replace=0, value=1)
    m1_ibm_compound_influence = m1_ibm_arc * np.log(m1_ibm_cleaned_fo)
    df_user_nt_ibm_desc = df_user_nt_ibm_desc.assign(compound_inf=m1_ibm_compound_influence)
    
    """
    Compute average retweet count for each M1 IBM user
    """
    m1_ibm_avg_rt = df_user_nt_ibm_desc['n_src'] / df_user_nt_ibm_desc['n_n']
    df_user_nt_ibm_desc = df_user_nt_ibm_desc.assign(avg_rt=m1_ibm_avg_rt)
    
    """
    Simple influence of M2
    """
    m2_ibm_norm_s = df_user_nt_ibm_tw_prop_2['fo'] * df_user_nt_ibm_tw_prop_2['n_n']
    m2_ibm_norm_s = m2_ibm_norm_s.replace(to_replace=0, value=1) # clean 0 values since its denominator
    m2_ibm_simple_influence = df_user_nt_ibm_tw_prop_2['n_src'] / m2_ibm_norm_s
    df_user_nt_ibm_tw_prop_2 = df_user_nt_ibm_tw_prop_2.assign(simple_inf=m2_ibm_simple_influence)
    
    """
    Compound influence of M2
    """
    m2_ibm_arc = df_user_nt_ibm_tw_prop_2['n_src'] / df_user_nt_ibm_tw_prop_2['n_n']
    m2_ibm_cleaned_fo = df_user_nt_ibm_tw_prop_2['fo'].replace(to_replace=0, value=1)
    m2_ibm_compound_influence = m2_ibm_arc * np.log(m2_ibm_cleaned_fo)
    df_user_nt_ibm_tw_prop_2 = df_user_nt_ibm_tw_prop_2.assign(compound_inf=m2_ibm_compound_influence)
    
    """
    Compute average retweet count for each M2 IBM user
    """
    m2_ibm_avg_rt = df_user_nt_ibm_tw_prop_2['n_src'] / df_user_nt_ibm_tw_prop_2['n_n']
    df_user_nt_ibm_tw_prop_2 = df_user_nt_ibm_tw_prop_2.assign(avg_rt=m2_ibm_avg_rt)
    
    print('Done')

Done

In [8]:
"""
M1 simple inf top incluencers
"""
if 1 == 1:
    df_m1_simple_inf_top = df_user_nt_ibm_desc[df_user_nt_ibm_desc['fo'] > 0]
    df_m1_simple_inf_top = df_m1_simple_inf_top[['uid', 'fo', 'n_n', 'n_src', 'simple_inf']]

In [9]:
df_m1_simple_inf_top.sort_values(by='simple_inf', ascending=False)

                       uid    fo  n_n  n_src  simple_inf
557692  795512917831524352     1    1      2    2.000000
608895  862358912921731074     1    2      3    1.500000
533216  744606437092036609     3    1      4    1.333333
579306  830014520324128769     3    4      8    0.666667
595581  847209334136299521     2    3      3    0.500000
296637           468611376     4    1      2    0.500000
547516  776052044578848768     2    1      1    0.500000
525795  728731567800094721    12    6     32    0.444444
506274          4780720626     6    2      4    0.333333
497036          4157525007    11    4     14    0.318182
571897  821392524334026752    18  303   1647    0.301980
595503  847153012615380992     3    7      6    0.285714
561250  801805913447366656     7    1      2    0.285714
586146  838224838808358913    11    1      3    0.272727
146954            86774426    20    1      5    0.250000
478409          3315044100    12    1      3    0.250000
584791  836877543093436416    13    3      9    0.230769
580334  831459077427433475     6    3      4    0.222222
587222  839224041986748416     1   14      3    0.214286
315071           567283757     3   14      9    0.214286
594591  846286451113431040     4   15     12    0.200000
561231  801769882882863104     5    1      1    0.200000
575333  825370408379629568     4    4      3    0.187500
355628          1140343489    23    4     17    0.184783
571940  821436631026638851     6    1      1    0.166667
598914  850242172980912129    14    3      7    0.166667
323947           618227912     3    2      1    0.166667
445724          2888469965     6    1      1    0.166667
357372          1174883316    11    3      5    0.151515
578340  828964462531051520     8   13     15    0.144231
...                    ...   ...  ...    ...         ...
209567           196735098  2896    5      0    0.000000
211351           200958489   190    2      0    0.000000
390987          1962565610   611    5      0    0.000000
209481           196572176   155    1      0    0.000000
391028          1963059090   107    1      0    0.000000
391057          1963351394    40    2      0    0.000000
208959           195366222    74    1      0    0.000000
208825           194931094  2736    1      0    0.000000
391223          1965739602  2031    3      0    0.000000
210677           199251018    69    1      0    0.000000
389927          1940761508  4647    1      0    0.000000
214944           210908695   523    1      0    0.000000
213300           205921301   107    1      0    0.000000
214843           210746279   738    1      0    0.000000
388590          1907685601   440    5      0    0.000000
214153           208539116   345    4      0    0.000000
213987           208054866   192    8      0    0.000000
213789           207497940   407    2      0    0.000000
213716           207264331    57    1      0    0.000000
213452           206349732   253    1      0    0.000000
389174          1921309165   185   13      0    0.000000
211644           201713037    75    2      0    0.000000
389252          1923046902   373    2      0    0.000000
213079           205407906   324    1      0    0.000000
212811           204775066  2107    1      0    0.000000
212152           202979865    58    2      0    0.000000
212114           202838071   539    3      0    0.000000
211948           202516490     6    4      0    0.000000
211709           201880740   903    4      0    0.000000
609121  863034560048648192     2    3      0    0.000000

[6251 rows x 5 columns]

In [6]:
"""
M2 simple inf top incluencers
"""
if 1 == 1:
    df_m2_simple_inf_top = df_user_nt_ibm_tw_prop_2[df_user_nt_ibm_tw_prop_2['fo'] > 0]
    df_m2_simple_inf_top = df_m2_simple_inf_top[['uid', 'fo', 'n_n', 'n_src', 'simple_inf']]

In [7]:
df_m2_simple_inf_top.sort_values(by='simple_inf', ascending=False)

                       uid     fo  n_n  n_src  simple_inf
590821  842444159332028416      1   20     60    3.000000
607366  859154934159245313      1    7     12    1.714286
492995          3928442897      4   13     77    1.480769
608612  861618662184189952      2    5     14    1.400000
565006  808846575522807808      4   38    154    1.013158
594474  846124178805850112      1   15     15    1.000000
416308          2450374874      1    7      7    1.000000
552726  786121114950901760     16    8    106    0.828125
579306  830014520324128769      3    4      8    0.666667
608638  861668884184694784      2    3      4    0.666667
588671  840410653215059968      1    3      2    0.666667
601839  851764563360002049      5    6     19    0.633333
584929  836980172960194561     12   12     89    0.618056
514040  703633881564581889      1    5      3    0.600000
576982  827264736429346817      1   11      6    0.545455
568467  816498023157137414      7   53    191    0.514825
554506  789294326098436096      1   12      6    0.500000
587623  839524020290633729      1    4      2    0.500000
595581  847209334136299521      2    3      3    0.500000
447809          2907802783      4    3      6    0.500000
584750  836830414266314752      4   26     49    0.471154
525795  728731567800094721     12    6     32    0.444444
607919  860033866991579136      1    9      4    0.444444
581788  833179029431672832      1    7      3    0.428571
584762  836842460861116416      3    4      5    0.416667
603481  854114295126339584     12   30    150    0.416667
279860           392336508      1   15      6    0.400000
575894  826127084174991360      7   56    152    0.387755
603103  853663386420350978      1   39     15    0.384615
507988          4833878343    565    5   1078    0.381593
...                    ...    ...  ...    ...         ...
197545           168563323     63   14      0    0.000000
435797          2786336518   1385    8      0    0.000000
437116          2799217323  30454    5      0    0.000000
435919          2787473145     38    3      0    0.000000
196222           165646586  17968   11      0    0.000000
196476           166154727   1609    3      0    0.000000
437063          2798716999  26050    5      0    0.000000
437045          2798602120    998    4      0    0.000000
437019          2798417365   4443    4      0    0.000000
437008          2798342354     93    3      0    0.000000
436985          2798202876    625   27      0    0.000000
196786           166782000    710    7      0    0.000000
196830           166912975    522   19      0    0.000000
436922          2797821461     56    5      0    0.000000
436916          2797773853    137    4      0    0.000000
196892           167008508   1014   14      0    0.000000
196998           167237181   1161   36      0    0.000000
197038           167360918     69    3      0    0.000000
436757          2796010201     79    3      0    0.000000
436662          2794763927     53    3      0    0.000000
197081           167419467    631    6      0    0.000000
197093           167431881   1827    5      0    0.000000
436304          2790663602    319   40      0    0.000000
197264           167831643    367    4      0    0.000000
436212          2789811498     92    6      0    0.000000
436083          2788770038    604    3      0    0.000000
197279           167878141     77    8      0    0.000000
197282           167888154    245    3      0    0.000000
436001          2788025226   4892    3      0    0.000000
155091            96187303    362   10      0    0.000000

[19660 rows x 5 columns]

In [9]:
"""
M1 compound inf top incluencers
"""
if 1 == 1:
    df_m1_compound_inf_top = df_user_nt_ibm_desc[df_user_nt_ibm_desc['fo'] > 0]
    df_m1_compound_inf_top = df_m1_compound_inf_top[['uid', 'fo', 'n_n', 'n_src', 'simple_inf', 'compound_inf', 'avg_rt']]

In [10]:
df_m1_compound_inf_top.sort_values(by='compound_inf', ascending=False)

,uid,fo,n_n,n_src,simple_inf,compound_inf,avg_rt
475,51063,5331,11,1034,0.017633,806.641647,94.000000
51822,18994444,347515,149,8474,0.000164,725.611166,56.872483
21071,14474054,999,1,81,0.081081,559.447137,81.000000
83117,29735775,164355,305,13985,0.000279,550.678129,45.852459
48723,18431747,3585,1,54,0.015063,441.963743,54.000000
318629,587488658,3451,1,37,0.010722,301.417515,37.000000
13705,11957802,11345,2,57,0.002512,266.091173,28.500000
211690,201846344,111972,127,2875,0.000202,263.187101,22.637795
284383,408898240,131881,68,1438,0.000160,249.316534,21.147059
18244,14216447,728,1,35,0.048077,230.660537,35.000000
71697,24227230,11518,9,217,0.002093,225.479065,24.111111
29372,15442689,20785,73,1650,0.001087,224.716141,22.602740
35482,16319797,120759,57,1085,0.000158,222.740071,19.035088
406813,2336770008,46153,85,1572,0.000401,198.621594,18.494118
389629,1931960364,10803,70,1446,0.001912,191.854849,20.657143
62841,21441630,38633,86,1512,0.000455,185.692273,17.581395
390562,1953648950,66495,220,3613,0.000247,182.372449,16.422727
418327,2477967164,72609,11,165,0.000207,167.892662,15.000000
213083,205415448,3902,14,275,0.005034,162.431589,19.642857
104813,44095661,10445,11,188,0.001636,158.157199,17.090909
239675,267283568,147126,347,4501,0.000088,154.344668,12.971182
444130,2872554463,3467,5,88,0.005076,143.458391,17.600000
152388,92944713,4471,28,465,0.003714,139.589137,16.607143
57560,20144015,276,1,23,0.083333,129.269220,23.000000
313230,557996780,14368,194,2458,0.000882,121.287841,12.670103
109424,47336979,576741,1,9,0.000016,119.386337,9.000000
158186,100617346,2023,18,277,0.007607,117.145406,15.388889
229870,245312303,36423,24,262,0.000300,114.657267,10.916667
4167,3940081,2729,1,14,0.005130,110.763667,14.000000
468754,3192402548,50750,221,2251,0.000201,110.356720,10.185520
...,...,...,...,...,...,...,...
121767,57466391,2437,1,0,0.000000,0.000000,0.000000
353705,1105553652,94,1,0,0.000000,0.000000,0.000000
353885,1109144466,398,2,0,0.000000,0.000000,0.000000
353987,1110960978,496,1,0,0.000000,0.000000,0.000000
354030,1111642430,19,3,0,0.000000,0.000000,0.000000
121766,57464746,132,1,0,0.000000,0.000000,0.000000
352914,1091864402,113,2,0,0.000000,0.000000,0.000000
352828,1090192220,438,3,0,0.000000,0.000000,0.000000
350332,1040684023,103,2,0,0.000000,0.000000,0.000000
123412,59122844,25,1,0,0.000000,0.000000,0.000000
350410,1042550720,3450,1,0,0.000000,0.000000,0.000000
350946,1054637942,127,4,0,0.000000,0.000000,0.000000
350989,1055307758,183,1,0,0.000000,0.000000,0.000000
351245,1059856386,122,2,0,0.000000,0.000000,0.000000
351273,1060273518,662,1,0,0.000000,0.000000,0.000000
351385,1062503029,56,1,0,0.000000,0.000000,0.000000
351831,1070945318,109,1,0,0.000000,0.000000,0.000000
352012,1074185911,20,1,0,0.000000,0.000000,0.000000
123928,59554346,556,1,0,0.000000,0.000000,0.000000
123852,59497882,964,1,0,0.000000,0.000000,0.000000
352147,1076230315,15,1,0,0.000000,0.000000,0.000000
123523,59210149,2389,6,0,0.000000,0.000000,0.000000
352208,1077047348,589,2,0,0.000000,0.000000,0.000000
352378,1080120162,20,1,0,0.000000,0.000000,0.000000
352405,1080546024,1004,2,0,0.000000,0.000000,0.000000
352459,1081803674,82,1,0,0.000000,0.000000,0.000000
352530,1083816355,318,1,0,0.000000,0.000000,0.000000
123488,59175970,28,1,0,0.000000,0.000000,0.000000
352783,1089642708,99,1,0,0.000000,0.000000,0.000000
609121,863034560048648192,2,3,0,0.000000,0.000000,0.000000

In [12]:
"""
M2 compound inf top incluencers
"""
if 1 == 1:
    df_m2_compound_inf_top = df_user_nt_ibm_tw_prop_2[df_user_nt_ibm_tw_prop_2['fo'] > 0]
    df_m2_compound_inf_top = df_m2_compound_inf_top[['uid', 'fo', 'n_n', 'n_src', 'simple_inf', 'compound_inf', 'avg_rt']]

In [13]:
df_m2_compound_inf_top.sort_values(by='compound_inf', ascending=False)

,uid,fo,n_n,n_src,simple_inf,compound_inf,avg_rt
12948,11348282,22401049,5,2095,0.000019,7091.415087,419.000000
4122,3857121,10301,4,1930,0.046840,4458.298194,482.500000
158771,101584084,239490,27,4254,0.000658,1951.525169,157.555556
63214,21558596,126608,79,9940,0.000994,1478.273148,125.822785
507988,4833878343,565,5,1078,0.381593,1366.219628,215.600000
34364,16145086,215555,181,19222,0.000493,1304.225590,106.198895
66074,22330739,592562,5,482,0.000163,1281.369120,96.400000
28711,15357143,25574,34,4109,0.004726,1226.576561,120.852941
233976,254107028,18334,11,1071,0.005311,955.771357,97.363636
543562,767960339547774976,25601,3,282,0.003672,954.136349,94.000000
11891,10415712,56220,19,1561,0.001461,898.563182,82.157895
128576,64643056,2575902,6,362,0.000023,890.623189,60.333333
292277,447226821,81158,20,1542,0.000950,871.550208,77.100000
151164,91478624,12003920,40,2017,0.000004,821.965007,50.425000
156536,97994396,109851,10,702,0.000639,814.802989,70.200000
475,51063,5331,11,1034,0.017633,806.641647,94.000000
3677,3108351,13244091,22,1069,0.000004,796.845333,48.590909
83181,29761155,91658,6,409,0.000744,778.860032,68.166667
51822,18994444,347515,149,8474,0.000164,725.611166,56.872483
26286,15066876,217880,49,2868,0.000269,719.440711,58.530612
10370,9334242,550058,3,155,0.000094,682.918582,51.666667
497842,4198133355,3138,10,819,0.026099,659.404822,81.900000
391328,1967329470,65331,5,297,0.000909,658.580983,59.400000
193279,158981117,71464,11,637,0.000810,647.246962,57.909091
200586,175711277,338812,3,144,0.000142,611.193632,48.000000
420403,2509539702,11652,4,255,0.005471,596.906111,63.750000
60102,20759152,83934,14,734,0.000625,594.423926,52.428571
292676,449588356,333565,14,644,0.000138,585.009279,46.000000
83117,29735775,164355,305,13985,0.000279,550.678129,45.852459
162722,106944928,11904,5,289,0.004856,542.431600,57.800000
...,...,...,...,...,...,...,...
268550,354812319,442,6,0,0.000000,0.000000,0.000000
268628,355132304,31,7,0,0.000000,0.000000,0.000000
268728,355523878,56,4,0,0.000000,0.000000,0.000000
267510,350932838,3863,3,0,0.000000,0.000000,0.000000
267262,349843554,140,4,0,0.000000,0.000000,0.000000
462824,3097359184,15,13,0,0.000000,0.000000,0.000000
266968,348717147,393,28,0,0.000000,0.000000,0.000000
265662,344141006,267,3,0,0.000000,0.000000,0.000000
265737,344357318,604,7,0,0.000000,0.000000,0.000000
265826,344666555,331,3,0,0.000000,0.000000,0.000000
462769,3096829705,56,7,0,0.000000,0.000000,0.000000
265902,344912648,70,14,0,0.000000,0.000000,0.000000
462761,3096702665,1440,28,0,0.000000,0.000000,0.000000
266143,345989111,253,5,0,0.000000,0.000000,0.000000
266145,346011353,6202,15,0,0.000000,0.000000,0.000000
266911,348538673,228,12,0,0.000000,0.000000,0.000000
266932,348593414,435,4,0,0.000000,0.000000,0.000000
462588,3094472996,67,4,0,0.000000,0.000000,0.000000
267209,349606181,25,5,0,0.000000,0.000000,0.000000
266978,348754857,384,3,0,0.000000,0.000000,0.000000
462527,3093511584,189,4,0,0.000000,0.000000,0.000000
267037,348965828,1319,18,0,0.000000,0.000000,0.000000
462476,3092765541,555,3,0,0.000000,0.000000,0.000000
462468,3092743007,432,8,0,0.000000,0.000000,0.000000
267051,348997508,654,12,0,0.000000,0.000000,0.000000
462434,3092647677,160,4,0,0.000000,0.000000,0.000000
267056,349008445,1267,9,0,0.000000,0.000000,0.000000
462405,3092495398,313,8,0,0.000000,0.000000,0.000000
267147,349313088,1098,5,0,0.000000,0.000000,0.000000
609156,863095961916252160,1,3,1,0.333333,0.000000,0.333333

In [5]:
"""
M1 simple vs compound inf 
"""
if 1 == 1:
    df_m1_simple_compound_inf = df_user_nt_ibm_desc[df_user_nt_ibm_desc['fo'] > 0]
    df_m1_simple_compound_inf = df_m1_simple_compound_inf[['uid', 'fo', 'n_n', 'n_src', 'simple_inf', 'compound_inf', 'avg_rt']]

NameError: name 'df_user_nt_ibm_desc' is not defined

In [15]:
df_m1_simple_compound_inf.sort_values(by='avg_rt', ascending=False)

,uid,fo,n_n,n_src,simple_inf,compound_inf,avg_rt
475,51063,5331,11,1034,0.017633,806.641647,94.000000
21071,14474054,999,1,81,0.081081,559.447137,81.000000
51822,18994444,347515,149,8474,0.000164,725.611166,56.872483
48723,18431747,3585,1,54,0.015063,441.963743,54.000000
83117,29735775,164355,305,13985,0.000279,550.678129,45.852459
318629,587488658,3451,1,37,0.010722,301.417515,37.000000
18244,14216447,728,1,35,0.048077,230.660537,35.000000
13705,11957802,11345,2,57,0.002512,266.091173,28.500000
71697,24227230,11518,9,217,0.002093,225.479065,24.111111
57560,20144015,276,1,23,0.083333,129.269220,23.000000
211690,201846344,111972,127,2875,0.000202,263.187101,22.637795
29372,15442689,20785,73,1650,0.001087,224.716141,22.602740
284383,408898240,131881,68,1438,0.000160,249.316534,21.147059
389629,1931960364,10803,70,1446,0.001912,191.854849,20.657143
213083,205415448,3902,14,275,0.005034,162.431589,19.642857
35482,16319797,120759,57,1085,0.000158,222.740071,19.035088
406813,2336770008,46153,85,1572,0.000401,198.621594,18.494118
97424,39108077,236,6,109,0.076977,99.259611,18.166667
444130,2872554463,3467,5,88,0.005076,143.458391,17.600000
62841,21441630,38633,86,1512,0.000455,185.692273,17.581395
104813,44095661,10445,11,188,0.001636,158.157199,17.090909
152388,92944713,4471,28,465,0.003714,139.589137,16.607143
390562,1953648950,66495,220,3613,0.000247,182.372449,16.422727
158186,100617346,2023,18,277,0.007607,117.145406,15.388889
418327,2477967164,72609,11,165,0.000207,167.892662,15.000000
4167,3940081,2729,1,14,0.005130,110.763667,14.000000
239675,267283568,147126,347,4501,0.000088,154.344668,12.971182
313230,557996780,14368,194,2458,0.000882,121.287841,12.670103
158228,100685757,136,3,38,0.093137,62.226962,12.666667
378534,1583623717,2063,6,73,0.005898,92.854984,12.166667
...,...,...,...,...,...,...,...
157963,100286454,5015,2,0,0.000000,0.000000,0.000000
367885,1375454810,13,1,0,0.000000,0.000000,0.000000
367986,1376949662,6,10,0,0.000000,0.000000,0.000000
157584,99687167,689,1,0,0.000000,0.000000,0.000000
157142,98921882,408,2,0,0.000000,0.000000,0.000000
156848,98507061,1346,1,0,0.000000,0.000000,0.000000
368083,1378223564,325,1,0,0.000000,0.000000,0.000000
368160,1379541967,381,1,0,0.000000,0.000000,0.000000
366534,1353542263,144,2,0,0.000000,0.000000,0.000000
160694,104162935,53,1,0,0.000000,0.000000,0.000000
160799,104276728,134,4,0,0.000000,0.000000,0.000000
160850,104370520,1696,1,0,0.000000,0.000000,0.000000
163540,108160841,28,1,0,0.000000,0.000000,0.000000
364107,1311213078,100,2,0,0.000000,0.000000,0.000000
364130,1311508922,139,2,0,0.000000,0.000000,0.000000
364249,1313929530,171,4,0,0.000000,0.000000,0.000000
364415,1317365388,76,2,0,0.000000,0.000000,0.000000
162518,106717235,104,2,0,0.000000,0.000000,0.000000
162112,106194745,279,1,0,0.000000,0.000000,0.000000
365088,1328121782,289,4,0,0.000000,0.000000,0.000000
161813,105751612,725,1,0,0.000000,0.000000,0.000000
365144,1329077162,709,2,0,0.000000,0.000000,0.000000
161559,105268070,233,2,0,0.000000,0.000000,0.000000
365257,1331114209,394,1,0,0.000000,0.000000,0.000000
365654,1338622628,1127,1,0,0.000000,0.000000,0.000000
365672,1338735722,17,2,0,0.000000,0.000000,0.000000
160929,104483044,106,1,0,0.000000,0.000000,0.000000
365873,1341779568,34,3,0,0.000000,0.000000,0.000000
365875,1341803388,894,4,0,0.000000,0.000000,0.000000
609121,863034560048648192,2,3,0,0.000000,0.000000,0.000000

In [3]:
col = mongodb.initialize(DB_NAME, TW_NT_COL)
# uid_int = 18994444
uid_int = 1899444
count = col.count(filter={'user.id': uid_int})
print('Num of native tweets: {}'.format(count))

MongoDB on localhost:27017/tweets_ek-2.tw_nt connected successfully!
Num of native tweets: 0

In [6]:
"""
Count quote tweets posted by M1 IBM users
"""
if 1 == 1:
    '''
    Load in M1 IBM users
    '''
    user_nt_ibm_desc_ids_lst = []
    with open(USER_NT_IBM_DESC_IDS_LST_PKL, 'rb') as f:
        user_nt_ibm_desc_ids_lst = pickle.load(f)
    
    '''
    Count frequency of quote tweets authored by M1 IBM users
    '''
    lst_arg = np.array(user_nt_ibm_desc_ids_lst, dtype=np.int64).tolist() # IMPORTANT force int64 type
    
    tw_nt_qt_col = mongodb.initialize(DB_NAME, TW_NT_QT_COL)
    
    #match_dict = {'$match': {'user.id': {'$in': lst_arg}}} # select out retweets authored by IBM users
    obj = tw_nt_qt_col.count(filter={'user.id': {'$in': lst_arg}})
    print(obj)

MongoDB on localhost:27017/tweets_ek-2.tw_nt_qt connected successfully!
7253

In [1]:
from textblob import TextBlob
from textblob.sentiments import NaiveBayesAnalyzer
import re

In [2]:
%%time
"""
Test sentiment score by using TextBlob library
"""

test_str = "6 @Google #ML use cases (and more coming)\n#GoogleNext17 #GoogleNext17AR https://t.co/d1yUtbYcTF"
test_str2 = "@antoniopironti anything you like? https://t.co/40HuYrnG1b"

def clean_tweet(tweet):
    '''
    Utility function to clean tweet text by removing links, special characters
    using simple regex statements.
    '''
    return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", tweet).split())
    
lst_str = ['RT @JohnGGalt: Amazingafter years of attacking Donald Trump the media managed to turn #InaugurationDay into all about themselves.',
          'RT @vooda1: CNN Declines to Air White House Press Conference Live YES! ',
          'Another #DearDonaldTrump Letter worth a read @AJEnglish ',
          'RT @RVAwonk: Trump, Sean Spicer, et al. lie for a reason. ',
          'RT @KomptonMusic: Me: I hate corn ',
          'Me: https://t.co/GPgy8R8HB5',
          "6 @Google #ML use cases (and more coming)\n#GoogleNext17 #GoogleNext17AR https://t.co/d1yUtbYcTF"]

#print(clean_tweet(test_str))
for sentence in lst_str:
    stm = TextBlob(sentence, analyzer=NaiveBayesAnalyzer()).sentiment
    print(stm)

Sentiment(classification='pos', p_pos=0.653716605984609, p_neg=0.346283394015392)
Sentiment(classification='pos', p_pos=0.5052503891079454, p_neg=0.49474961089205277)
Sentiment(classification='neg', p_pos=0.4894199584282709, p_neg=0.5105800415717289)
Sentiment(classification='neg', p_pos=0.14358381483298796, p_neg=0.856416185167013)
Sentiment(classification='neg', p_pos=0.4604190919674041, p_neg=0.5395809080325963)
Sentiment(classification='pos', p_pos=0.5, p_neg=0.5)
Sentiment(classification='pos', p_pos=0.6247019743259888, p_neg=0.37529802567401127)
CPU times: user 53.4 s, sys: 1.66 s, total: 55.1 s
Wall time: 57 s